@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --border: 1px solid #d0d7de; */
    --color-border: #d0d7de;
    --color-border-muted: 1px solid hsla(210, 18%, 87%, 1);
    --color-border-subtle: 1px solid rgba(31, 35, 40, 0.15);
    --color-neutral: #6e7781;
    --color-neutral-emphasis: #24292f;
    --color-neutral-muted: rgba(175, 184, 193, 0.2);
    --color-neutral-subtle: rgba(234, 238, 242, 0.5);
    --color-accent: #0969da;
    --color-accent-emphasis: #0969da;
    --color-accent-muted: rgba(84, 174, 255, 0.4);
    --color-accent-subtle: #ddf4ff;
    --color-attention: #9a6700;
    --color-attention-emphasis: #9a6700;
    --color-attention-muted: rgba(212, 167, 44, 0.4);
    --color-attention-subtle: #fff8c5;
    --color-danger: #d1242f;
    --color-danger-emphasis: #cf222e;
    --color-danger-muted: rgba(255, 129, 130, 0.4);
    --color-danger-subtle: #ffebe9;
    --color-success: #1a7f37;
    --color-success-emphasis: #1f883d;
    --color-success-muted: rgba(74, 194, 107, 0.4);
    --color-success-subtle: #dafbe1;
    --color-severe: #bc4c00;
    --color-severe-emphasis: #bc4c00;
    --color-severe-muted: rgba(251, 143, 68, 0.4);
    --color-severe-subtle: #fff1e5;
}

.border-danger {
    border-color: var(--color-danger);
}

.text-danger {
    color: var(--color-danger);
}

/* .border {
    border: var(--border);
} */

.box {}

.box-shaded {
    @apply rounded;
    border: 1px solid var(--color-border);
    background-color: var(--color-neutral-subtle);
}

.box-border {
    @apply rounded;
    border: 1px solid var(--color-border);
}

.box-variant {
    @apply px-1 py-1 text-sm rounded flex gap-2 items-stretch;
    border: 1px solid transparent;

    & .icon-container {
        @apply pr-1 flex;
        border-right: 1px solid transparent;
    }

    & .icon {
        @apply h-6;
    }
}

.box-danger {
    color: var(--color-danger);
    border-color: var(--color-danger-muted);
    background-color: var(--color-danger-subtle);

    & .icon-container {
        border-color: var(--color-danger-muted);
    }
}

.box-attention {
    color: var(--color-attention);
    border-color: var(--color-attention-muted);
    background-color: var(--color-attention-subtle);

    & .icon-container {
        border-color: var(--color-attention-muted);
    }
}

.box-success {
    color: var(--color-success);
    border-color: var(--color-success-muted);
    background-color: var(--color-success-subtle);

    & .icon-container {
        border-color: var(--color-success-muted);
    }
}

.toast {
    @apply absolute pr-2 mt-1;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-120%);
    transition: transform 0.5s;
}

.toast.active {
    transform: translateX(-50%);
    transition: transform 0.5s;
}

button {
    @apply rounded px-2 py-1 text-sm font-medium;
    color: #24292f;
    background-color: #f6f8fa;
    border: 1px solid var(--color-border);

    &:hover {
        background-color: #f3f4f6;
    }

    &:active {
        background-color: hsla(220, 14%, 93%, 1);
    }

    &.selected {
        background-color: hsla(220, 14%, 94%, 1);
    }
}

/* .button-container {
    @apply flex flex-col relative;

    &:has(.button-leading-icon-normal) {
        & button {
            @apply px-9;
        }
    }

    &:has(.button-leading-icon-small) {
        & button {
            @apply px-9;
        }
    }
}

.button-icon {
    @apply absolute rounded;
    top: 1px;
    padding: 4px;
    background-color: rgba(175, 184, 193, 0.3);
    color: var(--color-neutral-emphasis);
}

.button-leading-icon {
    @apply rounded-r-none;
    left: 1px;
}

.button-leading-icon-small {
    height: 24px;
    width: 24px;
}

.button-leading-icon-normal {
    height: 28px;
    width: 28px;
} */

.segmented {
    @apply rounded flex;
    border: 1px solid var(--color-border);
    background-color: var(--color-neutral-subtle);
}

.segmented-button {
    @apply rounded box-content m-px border-0 flex-1;
}

.segmented-button.selected {
    background-color: var(--color-accent);
    color: white;
}

input {
    @apply rounded px-2 py-1;
    border: 1px solid var(--color-border);
}

input:disabled {
    color: var(--color-neutral-emphasis);
}

.input-container {
    @apply flex flex-col relative;

    &:has(.input-leading-icon-normal) {
        & input {
            @apply px-9;
        }
    }

    &:has(.input-leading-icon-small) {
        & input {
            @apply px-9;
        }
    }
}

.input-icon {
    @apply absolute rounded;
    top: 1px;
    padding: 4px;
    background-color: rgba(175, 184, 193, 0.3);
    color: var(--color-neutral-emphasis);
}

.input-icon.clickable {
    cursor: pointer;

    &:hover {
        background-color: rgba(175, 184, 193, 0.4);
    }

    &:active {
        background-color: rgba(175, 184, 193, 0.5);
    }
}

.input-leading-icon {
    @apply rounded-r-none;
    left: 1px;
}

.input-leading-icon-small {
    height: 24px;
    width: 24px;
}

.input-leading-icon-normal {
    height: 28px;
    width: 28px;
}

.input-trailing-icon {
    @apply rounded-l-none;
    right: 1px;
    padding: 4px;
}

.input-trailing-icon-small {
    height: 24px;
    width: 24px;
}

.input-trailing-icon-normal {
    height: 28px;
    width: 28px;
}

select {
    @apply rounded px-1 py-1 text-sm;
    border: 1px solid var(--color-border);
}

form {
    @apply flex flex-col gap-2;
}

.browser-label {
    @apply text-sm select-none cursor-pointer rounded-md px-2 py-1 relative;
    border: 1px solid transparent;
    min-width: 10rem;
    margin: 0 .5rem;

    &:hover {
        background-color: rgba(208, 215, 222, 0.32);
    }

    &:active {
        background-color: rgba(208, 215, 222, 0.48);
    }

    &.selected {
        background-color: rgba(208, 215, 222, 0.24);

        &::after {
            @apply absolute;
            top: calc(50% - 12px);
            left: -8px;
            width: 4px;
            height: 24px;
            content: "";
            background-color: rgb(9, 105, 218);
            border-radius: 6px;
        }
    }
}

.browser-divider {
    border-width: 0;
    height: 1px;
    margin-top: 7px;
    margin-bottom: 8px;
    background-color: rgba(208, 215, 222, 0.48);
}

.browser-content {
    min-width: 18rem;
}

/* https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/ */
.tooltip-host {
    position: relative;

    &:hover .tooltip:before {
        display: block;
    }

    &:hover .tooltip:after {
        display: block;
    }
}

.tooltip {
    z-index: 9999;
    font-size: 8px;
    text-decoration: underline;

    &:before {
        @apply absolute text-xs px-2 py-1 rounded;
        content: attr(data-tip);
        background-color: #24292F;
        color: white;
        top: 100%;
        left: 0;
        display: none;
    }

    &:after {
        @apply absolute;
        content: "";
        top: 50%;
        margin-left: -2px;
        border: 5px solid black;
        border-color: transparent transparent black transparent;
        display: none;
    }
}

.defcon {
    @apply flex gap-1 w-full;

    & div {
        @apply h-2 rounded-full;
    }

    & .defcon-1 {
        width: 5%;
        background-color: var(--color-danger-subtle);

        &.active {
            background-color: var(--color-danger-emphasis);
        }
    }

    & .defcon-2 {
        width: 10%;
        background-color: var(--color-severe-subtle);

        &.active {
            background-color: var(--color-severe-emphasis);
        }
    }

    & .defcon-3 {
        width: 15%;
        background-color: var(--color-attention-subtle);

        &.active {
            background-color: var(--color-attention-emphasis);
        }
    }

    & .defcon-4 {
        width: 26%;
        background-color: var(--color-accent-subtle);

        &.active {
            background-color: var(--color-accent-emphasis);
        }
    }

    & .defcon-5 {
        width: 44%;
        background-color: var(--color-success-subtle);

        &.active {
            background-color: var(--color-success-emphasis);
        }
    }
}
